p {
    margin-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: white;
}

.navbar-brand:hover {
    cursor: pointer;
}

.pool-box {
    padding: 40px 0;
}

.pool-item {
    padding: 20px;
    border-radius: 14px;
}

.inventory-box {
    padding: 40px 0;
}

.inventory-item {
    padding: 20px;
    border-radius: 14px;
}
